default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: pagination-example_development

test:
  <<: *default
  database: pagination-example_test

production:
  <<: *default
  database: pagination-example_production
  username: pagination-example
  password: <%= ENV['PAGINATION-EXAMPLE_DATABASE_PASSWORD'] %>
